body{
    margin: 0;
    font-family: Roboto, serif;
}

/* HEADER*/

header{
    height: 72px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 3px 16px rgba(38, 38, 38, 0.16);
    background-color: #fff;

    
}

header>.container{
    height: 100%;
}

header>.container>.row{
    height: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.row button{
    font: 13px Roboto, sans-serif;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 12px 21px;
    background-color: #fff;

}
.row button:hover {
    background-color: rgb(228, 226, 226);
}

.enter{
    display: flex;
align-items: center;
text-align: center;
}

.enter img {
    margin-left: 27px;
}

@media (max-width: 767px) { /*mobile*/
    .enter>a {
        display: none;
    }
}


/* SEARCH*/
.search_food {
    width: 100%;
    padding-top: 110px;
}
.search_food>input {
    width: 100%;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #757575;
    color: #626262;
    font: 1em Roboto, sans-serif;
}


/* MAIN*/

h2{
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 34px;
}

.card>p>a{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    text-decoration: none;
}


.cost{
font-family: Roboto, sans-serif; ;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #626262;

}

.time{
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 21px;
color: #1D1D1D;
}

.card>img{
    width: 100%;
    margin-bottom: 16px;
    }

.card {
    margin-bottom: 36px;
}

.card>p {
    margin: 0;}

.rest{
        padding-bottom: 64px;
    }

/*footer*/

footer{
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #262626;
    font-family: Roboto, sans-serif;
    }

.foot{
    color: #fff;
    font-size: 11px;
    
}
.prava{
    padding-top: 30px;
}

.download{
    padding-top: 30px;

    display: flex;
    justify-content: center;
    
}
.download>a>img {
    margin: 8px 20px 40px 20px;
}

footer>.container>hr {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    size: 1px;}



.footer2>a {
    text-decoration: none;
    color: white;
    font-size: 13px;}
.href{
    padding-top: 10px;
    padding-bottom: 10px;

}

footer>.container>img {
    padding-bottom:40px;
}
.social>p{
    color: #fff;
    font-size: 20px;
}



.lang {
    height: 40px;
    width: 100%;
    background: #3B3B3B;
    border-radius: 2px;
    position: relative;
}
.lang>img {
    padding: 12px 16px 12px 16px;
}
select {
    width: 70%;
    outline: none;
    position: relative;
    bottom: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 13px  Roboto, sans-serif;
    color: white;
    border: none;
    background-color: #3B3B3B;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("img/Shape.png") 96% / 8% no-repeat #3B3B3B;
}



@media (max-width: 767px) { /*mobile*/
    .footer1 {
        margin-bottom: 32px;
    }
    .href {
        margin-bottom: 24px;
    }
    .download>a {
        margin: -8px 12px 24px 12px;
    }
    .download>a>img {
        margin: 0;
    }
    .foot>p {
        margin-bottom: 16px;
    }
    .prava {
        padding-bottom: 24px;
    }
    .footer2{
        padding-top: 70px;
    }
}
@media (max-width: 575px) {
    select {
        width: 67%;
    }
}
@media (min-width: 576px) {
    select {
        width: 82%;
    }
}
@media (min-width: 768px) {
    select {
        width: 67%;
    }
}
@media (min-width: 992px) {
    select {
        width: 75%;
    }
}

/*button*/

.btn-up{
    position: fixed;
    bottom: 24px;
    right: 16px;
}



